<div class="row">
    <div class="container col s12">
        <nav id="nav" class=" indigo lighten-3">
            <a href="#" class="brand-logo pink-text text-lighten-1">PimpPic</a>
            <ul class="right hide-on-med-and-down">
                <li>
                    <!-- <a href="youtube.com"><img class="img-circle dropdown-toggle" alt="loading" src="/img/images.png"></a> -->
                </li>
            </ul>
        </nav>
    </div>
    <div id="img-editors" class="col s6 push-s4 indigo lighten-4"><span class="flow-text">gvdfhhfjjdsfghdj</span></div>
    <!-- <div class="col s7 push-s4"><span class="flow-text">editors</span></div>
    <div class="col s5 pull-s8"><span class="flow-text">images</span></div> -->
  <!--   <div class="col s12">
        <footer class="page-footer blue-grey grey darken-3" id="footer">
            <div class="row ">
                <div class="container">
                    <h6 class="pink-text text-lighten-1 ">Welcome to bucketfront built by <a href="https://plus.google.com/+MaggieRain/ " target="blank ">@margierain</a> | to logout click <a title="click to logout " (click)="logOut() ">logout</a></h6>
                </div>
            </div>
        </footer>
    </div> -->
</div>
