* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body , .rows {
    height:100vh;
    background: url(../assets/img/background.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 100%;
    position: fixed;
}

.chip {
  margin-top: 1%;
}
#logo {
  font-size: 40px;
    font-family: helvetica;
    margin-top: 1%;
    margin-left: -71%;

}
#img-editors {
  margin-top: 100px;
}

.file {
  border: dotted 3px green;
  margin-left: 10%;
  width: 75%;
  color:#000;
}

#createfolder {
  min-width: 85%;

}
footer {
    clear: both;
    position: fixed;
     left:0px;
     bottom:0px;
     min-width: 100%;
     text-align:center;
}
footer.page-footer {
  padding-top: 0px !important;
}

#footer h6{
    padding-left: 45vh;

}
#upload {
  margin-left: 87%;
}
.file-over {
 border: dotted 3px red;
  }

#edit_img {
  width: 40vw;
  height: 60vh;
  margin-top: 2%;
  position: relative;
  margin-left: -28%;
}

#noimage {
  width: 40vw;
  height: 60vh;
  position: relative;
  margin-left: -10%;
  margin-left: -123%;

}


  .wrapper { 
          /*margin-top: 5%;
          background:#EFEFEF; 
          box-shadow: 1px 1px 10px #999; 
          text-align: center; 
          position: relative;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px;
          margin-bottom: 20px !important;
          width: 80%;
          height: 50%;
          padding-top: 2px;
          padding-bottom: 2px;
          margin-left: -2%;*/
        }

  .scrolls { 
      white-space:nowrap;
      width: 100%;
      display: flex;
      flex-direction: row;
      width: 500px;
      background-color: #fff;
      color: #000;
      text-align: center;
      padding: 14px;
      overflow: auto;
      overflow-x: scroll;
      overflow-y: hidden;
      white-space: nowrap;
      height: 100px
  } 

  .imageDiv img { 
    min-width: 500px;
      }

#img {
    display: inline;
    min-width: 50px;
 

}
modal-body {
  text-align: center;

}
#folderupdate {
  width: 100%;
  text-align: center;
}
modal {
  width: 40% !important;
  height: auto;
  position:absolute;
  top: 40%;
  transform: translateY(-50%);
   margin-left: 30%;

}

#footmodal , #footmodal > put {
     margin-left: 30%;

}
#edit_button {
  width: 10%;
  background-color: #fff;
   border-radius: 25px;
   font-size: 10px;
   text-align: center;

}

div > p  {
  margin-top: -20%;
  text-align: center;
  color: rgba(32, 148, 243, 0.82);
 
}
.z-depth-5 {
  padding-top: 382%;
  text-align: center;
  font-family: helvetica;
  color: #000;
  
}
#sidebar {
  margin-top: 2%;
  width: 23%;
  margin-left: -4%;
}
div.scroll {
    background-color: #00FFFF;
    width: 100px;
    height: 100px;
    overflow: scroll;
}
#folder {
    margin-top: -44%;

}

#share {
    margin-top: -3%;
    margin-left: 100%;
    margin-top: 8%;
    background-color: #e4e4e4;
    color: rgba(0,0,0,0.6);
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    border-radius: 25px;
    padding-right: 1%;
    padding-left: 1%;
    margin-top: -3.5%;
    margin-left: 84%;
    
}

#right-bar {
  margin-top: 10%;
}

ul.scroll-menu {
    position: relative;
    /*display: inherit !important;*/
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: auto;
    max-height: 200px;
    margin: 0;
    border-left: none;
    border-right: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
ul.scroll-menu-2x {
    max-height: 230px;
}
.btn-default {
 width: 35vh;
}
h5 > i {
  float: right;

}
div > button {
  background-color: black;
  padding-top: 2%;
  width: 93%;
  margin-left: 9%;
}
#enhance {
  padding-top: 25%;
  padding-left: 14%;
}

h5 {
  color: #26a636;
}
h5 > i> li  {
  color: rgba(32, 148, 243, 0.82);
}
ul > b {
   color: rgba(32, 148, 243, 0.82);
}
input[type=range]::-webkit-slider-runnable-track {
  background: #000;
}

input[type=range]::-webkit-slider-thumb {
  background: #26a636;
}
li > form > input {
  float: right;
}
div > input {
  padding-top: 6%;
  padding-left: 20%;
  margin-top: 11%;
  
}
#delete, #edit{
  font-size: 16px;
  float: right;
}
/* pop up*/
.outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(10, 10, 10, 0.23);
  z-index: 90;
}

.popup {
  position: relative;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  background-color: #fff;
  z-index: 100%;
  box-shadow: -2px -1px 29px 6px rgba(0,0,0,0.75);;
}
.popup-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 95;
  height: 100%;
}
 .file-over { 
  border: dotted 3px red;
   } 


div.scrolls {
   background-color: #fff;
    color: #000;
    text-align: center;
    padding: 14px;
    overflow: auto;
    overflow-x: scroll;
    white-space:nowrap;
    height: 100px;
    width: 100%;
    margin-left: -10%;

    
}
div.scrolls > img {
   width: 100px;
   height: 100px;
   display: inline;
   text-align: center;
    max-width: 0 !important;

}

div.scrolls a:hover {
    background-color: #777;
}
select {
  display: block !important;
}
#check  {
  margin-top: 2%;
}
