<toast>
    <div toast-content>
        {{ toastMessage }}
    </div>
</toast>
<ng2-slim-loading-bar [color]="'blue'" [height]="'4px'"></ng2-slim-loading-bar>
<div class="row rows">
    <div class="col s12">
        <ul class="right hide-on-med-and-down">
            <li>
                <div class="chip">
                    <img src="{{ avatar }}" alt="Contact Person"> {{ username }}
                </div>
            </li>
        </ul>
        <p id="logo" class="brand-logo black-text text-lighten-1">PimpPic</p>
        <p id="share" title="share" class="waves-effect waves-light btn"><i (click)="shareImage()" class="material-icons">share</i></p>
    </div>
    <div>
        <div id="sidebar" class="col s2 push-s1">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <p>AVAILABLE IMAGE EFFECTS</p><span class="caret"></span></button>
                <ul class="dropdown-menu scroll-menu" title="scroll to apply more effects" role="menu">
                    <ol>
                        <h5>Filter<i class="material-icons">photo_filter</i></h5>
                        <li>
                            <form>
                                Blur
                                <input #blur type="checkbox" name="filter" value=blur>
                                <input (click)="effects=blur.value; applyeffect(effects)" (click)="startLoading()" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Contour
                                <input #contour type="checkbox" name="filter" value=contour>
                                <input (click)="effects=contour.value; applyeffect(effects) "  (click)="startLoading()" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Edge Ehnance
                                <input #enhance type="checkbox" name="filter" value=edge_enhance>
                                <input (click)="effects=enhance.value; applyeffect(effects)" (click)="startLoading()" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Emboss
                                <input #emboss type="checkbox" name="filter" value=emboss>
                                <input (click)="effects=emboss.value; applyeffect(effects)" (click)="startLoading()" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Smooth
                                <input #smooth type="checkbox" name="filter" value=smooth>
                                <input (click)="effects=smooth.value; applyeffect(effects)" (click)="startLoading()" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Edge_enhance_more
                                <input #edge type="checkbox" name="filter" value=edge_enhance_more>
                                <input (click)="effects=edge.value; applyeffect(effects)" (click)="startLoading()" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Detail
                                <input #detail type="checkbox" name="filter" value=detail>
                                <input (click)="effects=detail.value; applyeffect(effects)"  (click)="startLoading()" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Sharpen
                                <input #sharpen type="checkbox" name="filter" value=sharpen>
                                <input (click)="effects=sharpen.value; applyeffect(effects)" (click)="startLoading()" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Find_edges
                                <input #find_edges type="checkbox" name="filter" value=find_edges>
                                <input (click)="effects=find_edges.value; applyeffect(effects)" (click)="startLoading()" type="submit" value="Apply">
                            </form>
                        </li>
                    </ol>
                    <ol>
                        <h5>Transform<i class="material-icons">zoom_out_map</i></h5>
                        <li>
                            <form>
                                Vertical Flip
                                <input #flip type="checkbox" name="transform" value=vertical_flip>
                                <input (click)="effects=flip.value; applyTransformations(effects)" (click)="startLoading()" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Mirror
                                <input #mirror type="checkbox" name="transform" value=mirror>
                                <input (click)="effects=mirror.value; applyTransformations(effects)" (click)="startLoading()" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Invert
                                <input #invert type="checkbox" name="transform" value=invert>
                                <input (click)="effects=invert.value; applyTransformations(effects)" (click)="startLoading()" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Gray Scale
                                <input #scale type="checkbox" name="transform" value=grayscale>
                                <input (click)="effects=scale.value; applyTransformations(effects)" (click)="startLoading()" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Black and White
                                <input #blackWhite type="checkbox" name="transform" value=black_and_white>
                                <input (click)="effects=blackWhite.value; applyTransformations(effects)" (click)="startLoading()" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Equalize
                                <input #equalize type="checkbox" name="transform" value=equalize>
                                <input (click)="effects=equalize.value; applyTransformations(effects)" (click)="startLoading()" type="submit" value="Apply">
                            </form>
                        </li>
                    </ol>
                </ul>
            </div>
            <div id="enhance">
                <ul class="dropdown-menu scroll-menu" title="scroll to apply more effects" role="menu">
                    <h5>Enhance</h5>
                    <b>Brightness</b>
                    <input #brightness type="range" min="0" max="10" value="5"step="1" (change)="effectScale(brightness.value, 'Brightness')" (click)="startLoading()"/>
                    <b>Contrast</b>
                    <input #contrast type="range" min="0" max="10" value="5" step="1" (change)="effectScale(contrast.value, 'Contrast')" (click)="startLoading()" />
                    <b>Color</b>
                    <input #color type="range" min="0" max="10" value="5" step="1" (change)="effectScale(color.value, 'Color')" (click)="startLoading()" />
                    <b>Sharpen</b>
                    <input #sharpen type="range" min="0" max="10" value="5" step="1" (change)="effectScale(sharpen.value, 'Sharpness')" (click)="startLoading()" />
                    <h5>Effects</h5>
                    <b>Quantize</b>
                    <input #quantize type="range" min="0" max="10" value="5" step="1" (change)="effect(quantize.value, 'quantize')" (click)="startLoading()" />
                    <b>Gaussian Blur</b>
                    <input #gaussian_blur type="range" min="0" max="10" value="5" step="1" (change)="effect(gaussian_blur.value, 'gaussian_blur')" (click)="startLoading()" />
                    <b>Auto contrast</b>
                    <input #auto_contrast type="range" min="0" max="10" value="5" step="1" (change)="effect(auto_contrast.value, 'auto_contrast')" (click)="startLoading()" />
                    <b>Posterize</b>
                    <input #posterize type="range" min="0" max="10" value="5" step="1" (change)="effect(posterize.value, 'posterize')" (click)="startLoading()" />
                    <b>Solarize</b>
                    <input #solarize type="range" min="0" max="10" value="5" step="1" (change)="effect(solarize.value, 'solarize')" (click)="startLoading()" />
                    <b>Zoom</b>
                    <input #zoom type="range" min="0" max="10" value="5" step="1" (change)="effect(zoom.value, 'zoom')" (click)="startLoading()" />
                    <b>Rotate</b>
                    <input #rotate type="range" min="0" max="10" value="5" step="1" (change)="effect(rotate.value, 'rotate')" (click)="startLoading()" />
                </ul>
            </div>
        </div>
        <div class="col s5 push-s2">
            <div class="col s12 m2">
                <div id="noimage" *ngIf="noimages" class="z-depth-5">
                    <p>
                        Hey {{ username }}! Go ahead and Upload your first image and have fun editing it.
                        <input class="file-over" type="file" ngFileSelect [options]="options" (onUpload)="handleUpload($event)">
                    </p>
                    <div ngFileDrop [options]="options" (onUpload)="handleUpload($event)" [ngClass]="{'file-over': hasBaseDropZoneOver}" (onFileOver)="fileOverBase($event)">
                    </div>
                </div>
                <input type="submit" name="Reset">
            </div>
            <div *ngIf="not_editted">
                <img class="responsive-img" id="edit_img" src="{{selectedImage.image}}">
                
            </div>
            <div *ngIf="edit_image">
                <a download="custom-filename.jpg" href="{{selectedImage.edited_image}}" title="Click to download image">
                    <img class="responsive-img" id="edit_img" src={{selectedImage.edited_image}}></a>
            </div>
        </div>
        <div id="right-bar" class="col s2 push-s2">
            <div id="folder">
                <ul class="dropdown-menu scroll-menu" title="scroll to view folders and images" role="menu">
                    <h4>View folders</h4>
                    <ul>
                        
                        <li *ngFor="let pic of images let s=index ">
                         <div *ngIf="!pic.edited_image">
                            <img class="responsive-img" id="img" src="{{pic.image}}" (click)="onEdit(pic)" />
                        </div>
                        <div *ngIf="edit_image">
                            <img class="responsive-img" id="img" src="{{pic.edited_image}}" (click)="onEdit(pic)" />
                        </div>

                            <input type="submit" value="Delete Image" (click)="deleteImage(pic.id)" />
                            <p class="imageProperties" *ngIf="!pic.folder" class="imageProperties">Photo uncategorized</p>
                            
                            <p class="imageProperties">Date created: {{pic.date_created | date : "dd.MM.y"}}</p>
                            <p class="imageProperties">Date modified: {{pic.date_modified | date : "dd.MM.y"}}</p>
                        </li>
                        <li *ngFor="let folder of folders; let i= index">

                            <p>
                                {{folder.name}} {{folder.images.length}} <i (click)="selectFolder(i)" [style.cursor]="'pointer'" id="edit" class="material-icons">mode_edit</i>
                                <span *ngIf="folder.images.length >= 1">
                                    <input (click)="folderPhotoes(folder)" type="submit" (click)="viewimages.open()" value="View images"> 
                             <modal [animation]="animationsEnabled" #viewimages>
                                    <modal-header [show-close]="true">
                                        <h4 class="modal-title">{{folder.name}}</h4>
                                    </modal-header>
                                    <modal-body>
                                        <ol *ngFor="let img of folder.images ">
                                         <img class="responsive-img"  src="{{img.image}}" (click)="onEdit(img)" 
                                         (click)="viewimages.dismiss() "/>
                                         <input id="delete" type="submit" value="Delete Image" (click)="deleteImage(img.id)"(click)="viewimages.dismiss()" />
                                        </ol>
                                    </modal-body>
                                    <modal-footer id="footmodal">
                                    </modal-footer>
                             </modal>
                                </span>
                            </p>
                        </li>
                        <li *ngIf="no_folder">You currently have no folders</li>
                    </ul>
                </ul>
                <modal [animation]="animationsEnabled" #editModal>
                    <modal-header [show-close]="true">
                        <h4 class="modal-title">Update Bucket Name</h4>
                    </modal-header>
                    <modal-body>
                        <input #fname id="folderupdate" type="text" [placeholder]="selectedFolder?.name" class="form-control no-border input-lg" />
                    </modal-body>
                    <modal-footer id="footmodal">
                        <input class="put" type="submit" (click)="editfolder(fname.value, selectedFolder); 
                        editModal.close();" value=Update required>
                        <input class="put" type="submit" (click)="editModal.dismiss()" value=Cancel>
                        <input class="put" type="submit" (click)="deletefolder(selectedFolder);" (click)="editModal.dismiss()" value=Delete>
                    </modal-footer>
                </modal>
            </div>
            <div class="card-panel grey lighten-5 z-depth-1">
            <form id="createfolder" #f="ngForm" (ngSubmit)="createFolder(f) ">
                <input type="text " [(ngModel)]="foldername" name="folder"  placeholder="Create folder" required>
                <input type="submit" />
            </form>
            <p id="check">
                <input type="checkbox" class="filled-in" id="filled-in-box" (click)="startLoading()" [checked]="isInFolder" (change)="isInFolder = $event.target.checked" [style.cursor]="'pointer'" />
                <label for="filled-in-box">Upload image in folder</label>
            </p>
            <label for="options">Folder Name</label>
            <select *ngIf="folders" (change)="onFolderNameSelect($event.target)" [disabled]="!isInFolder">
                <option [value]="folder | json" *ngFor="let folder of folders;">{{folder.name}}</option>
            </select>
            <input class="file" type="file" ngFileSelect [options]="options" (onUpload)="handleUpload($event)" [disabled]="iselectedFolderName && isInFolder" [style.cursor]="'pointer'">
            </div>
        </div>
        <div class="col s12 ">
            <footer class="page-footer black " id="footer ">
                <h6 class="white-text ">Welcome to pimpic built by <a href="https://plus.google.com/+MaggieRain/ " target="blank ">@margierain</a> | to logout click <a title="click to logout " (click)="logOut() "[style.cursor]="'pointer'">logout</a></h6>
            </footer>
        </div>
    </div>
