* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body , .rows {
    height:100vh;
    background: url(../img/background.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 100%;
    position: fixed;
}

.chip {
  margin-top: 1%;
}
#logo {
  font-size: 35px;
  font-family: helvetica;

}
#img-editors {
  margin-top: 100px;
}


footer {
    clear: both;
    position: fixed;
     left:0px;
     bottom:0px;
     min-width: 100%;
}
footer.page-footer {
  padding-top: 0px !important;
}

#footer h6{
    padding-left: 45vh;

}
#upload {
  margin-left: 87%;
}
.file-over {
 border: dotted 3px red;
  }

#noimage, #edit_img {
  width: 40vw;
  height: 60vh;
  display: flex;
  margin-top: 10%;
  position: relative;
  margin-left: -10%;

}
.z-depth-5 {
  padding-top: 50%;
  text-align: center;
  font-family: helvetica;
  color: #fff;
  background-color: grey;
}
#sidebar {
  margin-top: 7%;
  width: 350px;
}
div.scroll {
    background-color: #00FFFF;
    width: 100px;
    height: 100px;
    overflow: scroll;
}

#share {
  margin-left: 71%;
  position: fixed;
  margin-top: 55%;
  flex-grow: 2;
}
#download {
  margin-left: 71%;
  position: fixed;
  margin-top: 2%;

}

#save {
    margin-top: 35.8%;
    margin-left: 11.4%;
    background-color: rgba(32, 148, 243, 0.82);
}

#right-bar {
  margin-top: 10%;
}

ul.scroll-menu {
    position: relative;
    /*display: inherit !important;*/
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -moz-overflow-scrolling: touch;
    -ms-overflow-scrolling: touch;
    -o-overflow-scrolling: touch;
    overflow-scrolling: touch;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: auto;
    max-height: 200px;
    margin: 0;
    border-left: none;
    border-right: none;
    -webkit-border-radius: 0 !important;
    -moz-border-radius: 0 !important;
    -ms-border-radius: 0 !important;
    -o-border-radius: 0 !important;
    border-radius: 0 !important;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
}
ul.scroll-menu-2x {
    max-height: 230px;
}
.btn-default {
 width: 35vh;
}
h5 > i {
  float: right;

}
div > button {
  background-color: black;
  padding-top: 2%;
}
#enhance {
  padding-top: 25%;
}

h5 {
  color: #26a636;
}
h5 > i> li  {
  color: rgba(32, 148, 243, 0.82);
}
ul > b {
   color: rgba(32, 148, 243, 0.82);
}
input[type=range]::-webkit-slider-runnable-track {
  background: #000;
}

input[type=range]::-webkit-slider-thumb {
  background: #26a636;
}
li > form > input {
  float: right;
}
/* pop up*/
.outer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: rgba(10, 10, 10, 0.23);
  z-index: 90;
}

.popup {
  position: relative;
  width: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 40%;
  background-color: #fff;
  z-index: 100%;
  box-shadow: -2px -1px 29px 6px rgba(0,0,0,0.75);;
}
.popup-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 95;
  height: 100%;
}
