<toast>
  <div toast-content>
    {{ toastMessage }}
  </div>
</toast>

<div class="row rows">
    <div class="col s12">
        <ul class="right hide-on-med-and-down">
            <li>
                <div class="chip">
                    <img src="{{ avatar }}" alt="Contact Person"> {{ username }}
                </div>
            </li>
        </ul>
        <p id="logo" class="brand-logo black-text text-lighten-1">PimpPic</p>
        <p id="share" title="share" class="waves-effect waves-light btn"><i (click)="shareImage()" class="material-icons">share</i></p>
    </div>
    <div>
        <div id="sidebar" class="col s2 push-s1">
            <div class="btn-group">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    <p>Image effects available</p><span class="caret"></span></button>
                <ul class="dropdown-menu scroll-menu" role="menu">
                    <ol>
                        <h5>Filter<i class="material-icons">photo_filter</i></h5>
                        <li>
                            <form>
                                Blur
                                <input #blur type="checkbox" name="filter" value=blur>
                                <input (click)="effects=blur.value;  applyeffect(effects)" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Contour
                                <input #contour type="checkbox" name="filter" value=contour>
                                <input (click)="effects=contour.value; applyeffect(effects) " type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Edge Ehnance
                                <input #ehnance type="checkbox" name="filter" value=edge_enhance>
                                <input (click)="effects=enhance.value; applyeffect(effects)" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Emboss
                                <input #emboss type="checkbox" name="filter" value=emboss>
                                <input (click)="effects=emboss.value; applyeffect(effects)" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Smooth
                                <input #smooth type="checkbox" name="filter" value=smooth>
                                <input (click)="effects=smooth.value; applyeffect(effects)" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Edge_enhance_more
                                <input #edge type="checkbox" name="filter" value=edge_enhance_more>
                                <input (click)="effects=edge.value; applyeffect(effects)" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Detail
                                <input #detail type="checkbox" name="filter" value=detail>
                                <input (click)="effects=detail.value; applyeffect(effects)" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Sharpen
                                <input #sharpen type="checkbox" name="filter" value=sharpen>
                                <input (click)="effects=sharpen.value; applyeffect(effects)" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Find_edges
                                <input #find_edges type="checkbox" name="filter" value=find_edges>
                                <input (click)="effects=find_edges.value; applyeffect(effects)" type="submit" value="Apply">
                            </form>
                        </li>
                    </ol>
                    <ol>
                        <h5>Transform<i class="material-icons">zoom_out_map</i></h5>
                        <li>
                            <form>
                                Vertical Flip
                                <input #flip type="checkbox" name="transform" value=vertical_flip>
                                <input (click)="effects=flip.value; applyTransformations(effects)" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Mirror
                                <input #mirror type="checkbox" name="transform" value=mirror>
                                <input (click)="effects=mirror.value; applyTransformations(effects)" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Invert
                                <input #invert type="checkbox" name="transform" value=invert>
                                <input (click)="effects=invert.value; applyTransformations(effects)" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Gray Scale
                                <input #scale type="checkbox" name="transform" value=grayscale>
                                <input (click)="effects=scale.value; applyTransformations(effects)" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Black and White
                                <input #blackWhite type="checkbox" name="transform" value=black_and_white>
                                <input (click)="effects=blackWhite.value; applyTransformations(effects)" type="submit" value="Apply">
                            </form>
                        </li>
                        <li>
                            <form>
                                Equalize
                                <input #equalize type="checkbox" name="transform" value=equalize>
                                <input (click)="effects=equalize.value; applyTransformations(effects)" type="submit" value="Apply">
                            </form>
                        </li>
                    </ol>
                </ul>
            </div>
            <div id="enhance">
                <ul class="dropdown-menu scroll-menu" role="menu">
                    <h5>Enhance</h5>
                    <b>Brightness</b>
                    <input #brightness type="range" min="0" max="10" step="1" (change)="effectScale(brightness.value, 'Brightness')" />
                    <b>Contrast</b>
                    <input #contrast type="range" min="0" max="10" value="5" step="1" (change)="effectScale(contrast.value, 'Contrast')" />
                    <b>Color</b>
                    <input #color type="range" min="0" max="10" value="5" step="1" (change)="effectScale(color.value, 'Color')" />
                    <b>Sharpen</b>
                    <input #sharpen type="range" min="0" max="10" value="5" step="1" (change)="effectScale(sharpen.value, 'Sharpness')" />
                    <h5>Effects</h5>
                    <b>Quantize</b>
                    <input #quantize type="range" min="0" max="10" value="5" step="1" (change)="effect(quantize.value, 'quantize')" />
                    <b>Gaussian Blur</b>
                    <input #gaussian_blur type="range" min="0" max="10" value="5" step="1" (change)="effect(gaussian_blur.value, 'gaussian_blur')" />
                    <b>Auto contrast</b>
                    <input #auto_contrast type="range" min="0" max="10" value="5" step="1" (change)="effect(auto_contrast.value, 'auto_contrast')" />
                    <b>Posterize</b>
                    <input #posterize type="range" min="0" max="10" value="5" step="1" (change)="effect(posterize.value, 'posterize')" />
                    <b>Solarize</b>
                    <input #solarize type="range" min="0" max="10" value="5" step="1" (change)="effect(solarize.value, 'solarize')" />
                    <b>Zoom</b>
                    <input #zoom type="range" min="0" max="10" value="5" step="1" (change)="effect(zoom.value, 'zoom')" />
                    <b>Rotate</b>
                    <input #rotate type="range" min="0" max="10" value="5" step="1" (change)="effect(rotate.value, 'rotate')" />
                </ul>
            </div>
        </div>
        <div class="col s5 push-s2">
            <div class="col s12 m2">
                <div id="noimage" *ngIf="noimages" class="z-depth-5">
                    <p>
                        Hey {{ username }}! Go ahead and Upload your first image and have fun editing it.
                        <input class="file-over" type="file" ngFileSelect [options]="options" (onUpload)="handleUpload($event)">
                    </p>
                    <div ngFileDrop [options]="options" (onUpload)="handleUpload($event)" [ngClass]="{'file-over': hasBaseDropZoneOver}" (onFileOver)="fileOverBase($event)">
                    </div>
                </div>
            </div>
            <div *ngIf="not_editted">
                <a download="custom-filename.jpg" href="{{selectedImage.image}}" title="Click to download image">
                    <img class="responsive-img" id="edit_img" src="{{selectedImage.image}}"></a>
                <div class="scrolls">
                    <div class="col s4" *ngFor="let pic of images let s=index ">
                        <img class="responsive-img" id="img" src="{{pic.image}}" />
                        <br>
                        <input id="edit_button" type="submit" value=edit (click)="onEdit(pic)">
                    </div>
                </div>
            </div>
             <div *ngIf="edit_image" on-mouseover="showDetails(selectedImage)">
            <a download="custom-filename.jpg" href="{{selectedImage.image}}" title="Click to download image">
                <img class="responsive-img" id="edit_img" src={{selectedImage.edited_image}}></a>
            <div class="wrapper">
                <div class="scrolls">
                    <div class="col s4 " *ngFor="let pic of images let s=index ">
                        <img class="responsive-img" id="img" src="{{pic.image}}" />
                        <br>
                        <input id="edit_button" type="submit" value=edit (click)="onEdit(pic)">
                    </div>
                </div>
            </div>
        </div>
        </div>
   
    <div id="right-bar" class="col s2 push-s2">
        <div id="folder">
            <ul class="dropdown-menu scroll-menu" role="menu">
                <h4>View folders</h4>
                <ul>
                    <li *ngFor="let folder of folders">
                        <p>
                            {{folder.name}}  {{folder.images.length}} <i [style.cursor]="'auto'" id="edit" (click)="toast.open()" class="material-icons">mode_edit</i>
                            <span *ngIf="folder.images.length >= 1">
                                    <input (click)="folderPhotoes(folder)" type="submit" (click)="modalToggle.open()" value="View images"> 
                                </span>
                        </p>
                    </li>
                    <li *ngIf="no_folder">You currents have no folders</li>
                </ul>
            </ul>
            <modal [animation]="animationsEnabled">
                <modal-header [show-close]="true">
                    <h4 class="modal-title">Update Bucket Name</h4>
                </modal-header>
                <modal-body>
                    <div *ngFor=" let folder of folders" [class.selected]="folder===selectedfolder">
                        <div #bname class="view">
                            <div *ngIf="bucket === selectedBucket">
                                <input type="text" autofocus [value]="folder.name" #editfolder (keyup.escape)="editModal.close()" (keyup.enter)="commitEditBucketList(editbucket.value,editbucket, bname, bucket)" class="form-control no-border input-lg" />
                            </div>
                        </div>
                    </div>
                </modal-body>
                <modal-footer>
                    <button type="button" class="btn btn-default" data-dismiss="modal" (click)="modal.dismiss()">Cancel</button>
                    <button type="button" class="btn btn-danger" (click)="modalconfirm.open(); editModal.close(); "><i class="large material-icons">delete</i></button>
                    <button type="submit" class="btn btn-primary" (click)="foldername=editfolder.value; editModal.close();"><i class="material-icons">update</i></button>
                </modal-footer>
            </modal>
        </div>
        <form #f="ngForm" (ngSubmit)="createFolder(f)">
            <input type="text" [(ngModel)]="foldername" name="folder" placeholder="Create folder" required>
            <input type="submit">
        </form>
        <input class="file" type="file" ngFileSelect [options]="options" (onUpload)="handleUpload($event)">
        <div ngFileDrop [options]="options" (onUpload)="handleUpload($event)" [ngClass]="{'file-over': hasBaseDropZoneOver}" (onFileOver)="fileOverBase($event)">
        </div>
        <button (click)="otherToggle.open()" class="btn">Modal</button>
        <div class="col s12">
            <footer class="page-footer black" id="footer">
                <h6 class="white-text ">Welcome to pimpic built by <a href="https://plus.google.com/+MaggieRain/ " target="blank ">@margierain</a> | to logout click <a title="click to logout " (click)="logOut() ">logout</a></h6>
            </footer>
        </div>
    </div>
    <!--  Modal window -->
    <div class="outer" *ngIf="open">
        <div class="popup">
            <div class="row dropdown-menu scroll-menu " role="menu">
                <ul class="dropdown-menu scroll-menu ">
                    <div class="col s4" *ngFor="let photo of folderimages let s = index">
                        <img src="">
                        <img class="responsive-img" id="img" src="{{pic.image}}" />
                        <input type="submit" value=edit (click)="onEdit(pic)">
                    </div>
                </ul>
            </div>
        </div>
        <div class="popup-bg" (click)="modalToggle.close()"></div>
        <!--  Modal window -->
        <div class="outer" *ngIf="opens">
            <div class="popup">
                <div class="row dropdown-menu scroll-menu " role="menu">
                    <ul class="dropdown-menu scroll-menu ">
                        <div class="col s4" *ngFor="let pic of images  let s = index">
                            <img src="">
                            <img class="responsive-img" id="img" src="{{pic.image}}" />
                            <input type="submit" value=edit (click)="onEdit(pic)">
                        </div>
                    </ul>
                </div>
            </div>
        </div>
