body , .container-fluid {
    height:100vh;
    background: url(../img/dark.jpg) no-repeat;
    background-size: cover;
    width: 100%;
    min-width: 100%;
    position: fixed;
}


h1 {
    color: #26a636;
    font-size: 80px;
    font-family: helvetica;
    text-align: center;

}


.offset-s3 {
    margin-top: 20%;
}
h5 {
    font-family: helvetica;
    color: #fff;
    font-size: 30px;
    text-align: center;
    line-height: 1.5;
    margin: 0 auto;
}
button {
    margin-left: 7%;
    background-color: rgba(32, 148, 243, 0.82);
    margin-top: 45px;

}
.offset-s3 {
    margin-top: 35%;
}